/* operation-list.component.css */
body{
  background-color: rgb(255, 255, 255);
  margin: 0px;
}

.heading5{

  background-color: white;
  padding: 1%;
  // font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
  text-align: center;
}