
  
    mat-form-field{
      // background-color: rgb(25, 54, 98  );
      width: auto;
      margin-top: 15px;
    }

     body{
      background-color: white;
     }
    //  .main{
    //   margin-left: 2.5%;
    //  margin-right: 2.5%;
    //  }
    .heading5{

      background-color: rgb(245, 244, 244);
      padding: 1%;
      // font-family: 'Times New Roman', Times, serif;
      font-size: x-large;
      text-align: center;
    }

  //   // .{
  //   //   padding:10px;
  //   //   background-color: rgb(60, 94, 145);
  //   // }

  // .mat-elevation-z8 {
  //     background-color: #ccc; /* Grey background color */
  //     color: #000; /* Text color */
  //   }
    
  //   table {
  //     width: 100%;
  //     border-collapse: collapse;
  //     border: 2px solid #000; /* Black border */
  //   }
  //   .table-boundaries {
  //     border: 2px solid #000;
  //   }
    
  //   .table-boundaries th,
  //   .table-boundaries td {
  //     border: 1px solid #ccc;
  //     padding-top: 8px;
  //   }
    
  //   .table-boundaries th {
  //     background-color:  rgb(25, 54, 98  );
  //     font-weight: bold;
  //     color: #fff;
  //   }
    
    mat-label{
      font-weight: bolder;
    }

  //   th, td {
     
  //     text-align: left;
  //     border-bottom: 1px solid #ddd;
  //   }
    

  //   td {
  //     background-color:aliceblue;
  //     color: #000; /* Header text color */
  //     font-weight: bold;
  //   }
    
  //   tr {
  //     background-color: rgb(25, 54, 98  );
  //     color: #fff; 
      
  //      }

       
  //   // .heading5{
  //   // border: 1px solid #000; /* Black border */
  //   // font-weight: normal;
  //   // padding: 20px;
  //   // // margin: 20px;
  //   // background-color:aliceblue;
  //   // // colo;
  //   // font-family: 'DM Sans',sans-serif;
  //   // font-size: x-large;
  //   // text-align: center;
  //   // }

       