

.heading {
  background-color: aliceblue;
  text-align: center;
  font-size: large;
  color: #000;
  margin-top: 10px;
  padding: 10px;
  height: 30px;

  // /* Center text horizontally and vertically */
  // display: flex;
  // align-items: center;
  // justify-content: center;

  /* Change font style */
  font-family: Arial, sans-serif;
  font-weight: bold;
}




.elegant-table {
    width: 100%;
    border-collapse: collapse;
    // margin-left: 20px;
    // margin-top: 30px;
    text-align: center;
    border: 20px solid rgb(25, 54, 98  ); /* Set the table border color to blue */
    height: 340px; /* Increase the height of the table */
  }
  
  
    
    .elegant-table th{
  
      font-weight: bold;
      font-size: 20px;
    }
    
    .elegant-table td {
      padding: 10px;
      text-align: center;
      border: 1px solid #ddd;
      width: 50%;
      font-weight: bold;
      font-size: 15px;
    }
    
    .elegant-table th {
      background-color: white;
    }
    
    .elegant-table tr:nth-child(even) td {
      background-color: white
    }
    