


<body>
<div class="main">
<div class="stats-cards-container"> 


    <div class="timer1">
    <app-fixed-range></app-fixed-range>
    </div>


    <div class="timer2">
      <app-range></app-range>
    </div>

</div>

    <div class="mat-card1">
      <app-widget-area></app-widget-area>
    </div>

    <div class="mat-card2">
      <app-card1></app-card1>
    </div>

    <div class="mat-card3">
      <app-widget-stackedbar></app-widget-stackedbar>
    </div>

    <div class="mat-card4"> 
      <app-widget-pie></app-widget-pie>
    </div>

    <div class="mat-card5">
      <app-widget-combination></app-widget-combination>
    </div>

    <!-- <div class="mat-card4">
      <app-widget-barchart> </app-widget-barchart>  
    </div> -->

  </div>

</body>












