


body{
  background-color: black;
  // height: 100%;
  // width: 1025px;
  padding: auto;
  // overflow: hidden;
}

.mat-card11{
  float:left;
  width:32%;
  background-color:white;
  padding: 1%;
}


// // .content-container {
// //   padding: 20px;
// //   transition: margin-left 0.3s;
// //   width: 2000px;
// //   display: flex;
// // }


// @media (max-width:1200px)
// {
//   .mat-card11{
//     width:48%;
//   }
//   body{
//     margin-bottom: 5vh;
//   }
// }



// @media (max-width:800px)
// {
//   .mat-card11{
//     width:100%;
//   }
// }


// .timer{
//   height: 60px;
//   background-color: #138808;
//   align-items: center;
//   margin-top: 10px;
// }


// body {
//   zoom: 0.85; 
 
// }