<body>
    <div class="header-container">
        <app-headeradmin (toggleSideBarForMe)="sideBarToggler($event)"></app-headeradmin>
    </div>
    
     <div class="sidebarContainer">
    
    <div class=fixedSidebar>
        <app-adminsidebar (toggleSideBarForMe)="onToggleSidebar($event)"></app-adminsidebar>
    </div>
    
    <mat-drawer-container >
    
       <mat-drawer mode="side" [opened]="sideBarOpen">
       
        <app-extensionadmin (toggleSideBarForMe)="onToggleSidebar($event)"></app-extensionadmin>
       </mat-drawer> 
    
       
    </mat-drawer-container>
    
    <div class="content-container">
        <router-outlet></router-outlet>
  </div>
    </div>
    <div class="footer-container">
        <app-footer></app-footer>
    </div>
    </body>