.heading1{


    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: left;
    padding:15px;
    font-weight: bold;
    color:rgb(31, 67, 122);
    margin-top: 5px;
}

// rgb(31, 67, 122);