<mat-toolbar class="sticky-header">
    <mat-toolbar-row>
       
 
        <span> FILE TRANSFORMATION SYSTEM</span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px" class="icon-list">
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                
                <li>
                  

                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>