<!-- 
<body>
<div class="settings-container">
    <h2>Settings</h2>
  
    
    <div class="setting-option">

        <button type="button" class="collapsible">  <label for="themeOption">Edit Theme</label></button>
<div class="content">
  <p>   <input type="checkbox" id="themeOption" (change)="toggleTheme()"></p>
</div>
    
   
    </div>
  
    <div class="setting-option">
      <label for="sidebarOption">Allow Sidebar Expansion on Hover</label>
      <input type="checkbox" id="sidebarOption" (change)="toggleSidebarExpansion()">
    </div>
  
    <div class="setting-option">
      <label for="tasksOption">Show Recently Completed Tasks in Profile</label>
      <input type="checkbox" id="tasksOption" (change)="togglehideTasks()">
    </div>
  
    <div class="setting-option">
      <label for="changePasswordOption">Change Password</label>
      <button id="changePasswordOption" (click)="changePassword()">Change Password</button>
    </div>
  </div>
</body>
 -->

 <div class="settings-container">



  <h2>Application Settings</h2>



  <div class="big-Container">
    <!-- setting.component.html -->
      <div class="bigContainer1">
            <div class="setting-option">
              <div class="container">Update the Path for Input Folder for automation processing</div><br>

              <div class="container1">

                <label>Select Directory:</label>
                <select [(ngModel)]="selectedInputDirectory">
                  <option value="Home">Home</option>
                  <option value="Desktop">Desktop</option>
                  <option value="Downloads">Downloads</option>
                  <option value="Documents">Documents</option>
                </select>
              </div>

              <!-- Write Folder Name -->
              <div class="container2">
                <label>Enter Folder Name:</label>
                <input type="text" [(ngModel)]="inputFolderName">
              </div>

              <!-- Save Button -->
              <button (click)="saveInputFolder()">Save</button>
            </div>
    </div>

    <!-- setting.component.html -->
      <div class="bigContainer2">
          <div class="setting-option">
            <div class="container">Update the Path for Output Folder for automation processing</div><br>
            <div class="container1">
              <label>Select Directory:</label>
              <select [(ngModel)]="selectedOutputDirectory">
                <option value="Home">Home</option>
                <option value="Desktop">Desktop</option>
                <option value="Downloads">Downloads</option>
                <option value="Documents">Documents</option>
              </select>
            </div>

            <!-- Write Folder Name -->
            <div class="container2">
              <label>Enter Folder Name:</label>
              <input type="text" [(ngModel)]="outputFolderName">
            </div>

            <!-- Save Button -->
            <button (click)="saveOutputFolder()">Save</button>
          </div>
    </div>
  </div>



  <div class="big-Container">
    <!-- setting.component.html -->
      <div class="bigContainer1">
            <div class="setting-option">
              <div class="container">Update the Allowed Timeout for Transformation Process of Files </div><br>
              <div class="container1">
                <label>Selected Unit:</label>
                <select>
                  <option value="Seconds" selected>Seconds</option>
                </select>
              </div>

              <!-- Write Folder Name -->
              <div class="container2">
                <label>Enter Timeout:</label>
                <input type="text" [(ngModel)]="timeout">
              </div>

              <!-- Save Button -->
              <button (click)="saveTimeout()">Save</button>
            </div>
    </div>

    <!-- setting.component.html -->
      <div class="bigContainer2">
          <div class="setting-option">
            <div class="container">Update the Allowed Filesize for the Transformation Process of Files</div><br>
            <div class="container1">
              <label>Selected Unit:</label>
              <select>
                <option value="Bytes">Bytes</option>
              </select>
            </div>

            <!-- Write Folder Name -->
            <div class="container2">
              <label>Enter FileSize:</label>
              <input type="text" [(ngModel)]="filesize">
            </div>

            <!-- Save Button -->
            <button (click)="saveFilesize()">Save</button>
          </div>
    </div>
  </div>







    <h2>User Settings</h2>
  
    <div class="setting-option" (click)="toggleOption('Option 1')" [class.expanded]="expandedOption === 'Option 1'">
     
      <!-- <div class="option-content" *ngIf="expandedOption === 'Option 1'"> -->
        <!-- Content for Option 1 -->
        <!-- <mat-slide-toggle  [(ngModel)]="loggedInUserDarkMode" (click)="toggleDarkMode()"> -->
      
        <!-- </mat-slide-toggle> -->
        
         
        <!-- <button (click)="toggleDarkMode()">Toggle Dark Mode</button> -->
        <input type="checkbox" [(ngModel)]="loggedInUserDarkMode" (click)="toggleDarkMode()"/>
           <label for="toggleDarkThemeCheckbox">Enable Dark Mode For Header </label>
      <!-- </div> -->
    </div>

  
   <div class="setting-option"  (click)="toggleOption('Option 2')" [class.expanded]="expandedOption === 'Option 2'">
    <!-- <label for="expandSidebarToggle">Allow Sidebar Expansion on Hover</label> -->
    <!-- <div class="option-content" *ngIf="expandedOption === 'Option 2'"> -->
        <!-- Content for Option 2 -->
        <input type="checkbox" [(ngModel)]="loggedInUserSidebarExpansion" (click)="enableSidebarExpansion()" />
        <label for="toggleExpansionCheckbox">Allow Sidebar Expansion on Hover</label>
    <!-- </div> -->
   </div>

  
    <div class="setting-option" (click)="toggleOption('Option 3')" [class.expanded]="expandedOption === 'Option 3'">

      <input type="checkbox" id="toggleExpansionCheckbox" [(ngModel)]="loggedInUserTasksVisibility" (click)="hideTasksInProfile()" />
        <label for="toggleExpansionCheckbox">Hide Tasks Visibility In Profile</label>
    </div>
  


    <div class="setting-option" (click)="toggleOption('Option 4')" [class.expanded]="expandedOption === 'Option 4'">
      <label for="option4">Change Password</label>
      <div class="option-content" *ngIf="expandedOption === 'Option 4'">
        <!-- Content for Option 4 -->
        <!-- Change Password Section -->
    <div class="edit-profile">
      <h2>Change Password</h2>
      <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        
        <!-- Old Password Input -->
        <div class="form-group">
          <label for="oldPassword">Old Password:</label>
          <div class="password-container">
            <input type="{{ showOldPassword ? 'text' : 'password' }}" id="oldPassword" formControlName="oldPassword" placeholder="Enter old password">
            <div class="password-toggle" (click)="togglePassword('old')">
              <i class="fas" [ngClass]="showOldPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </div>
          </div>
          <div *ngIf="changePasswordForm.get('oldPassword')!.hasError('required') && changePasswordForm.get('oldPassword')!.touched" class="error-message">
            Old Password is required.
          </div>
        </div>
        
        <!-- New Password Input -->
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <div class="password-container">
            <input type="{{ showNewPassword ? 'text' : 'password' }}" id="newPassword" formControlName="newPassword" placeholder="Enter new password">
            <div class="password-toggle" (click)="togglePassword('new')">
              <i class="fas" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
            </div>
          </div>
          <div *ngIf="changePasswordForm.get('newPassword')!.hasError('required') && changePasswordForm.get('newPassword')!.touched" class="error-message">
            New Password is required.
          </div>
          <div *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern') && changePasswordForm.get('newPassword')?.touched">
            Password must contain at least one uppercase letter, one digit, and one special character (@, $, !, %, *, #, ?, &).
            Minimum length: 8 characters.
          </div>
  
        </div>
        

            <!-- Add the confirmation field -->
        <div class="form-group">
        <label for="confirmPassword">Confirm New Password:</label>
        <div class="password-container">
          <input type="{{ showConfirmPassword ? 'text' : 'password' }}" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm new password">
          <div class="password-toggle" (click)="togglePassword('confirm')">
            <i class="fas" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
          </div>
        </div>
        <div *ngIf="changePasswordForm.get('confirmPassword')!.hasError('required') && changePasswordForm.get('confirmPassword')!.touched" class="error-message">
          Confirm Password is required.
        </div>
        <div *ngIf="changePasswordForm.hasError('mustMatch') && changePasswordForm.get('confirmPassword')?.touched">
          Passwords must match.
        </div>
        </div>

        <!-- Change Password Button -->
        <button type="submit" [disabled]="changePasswordForm.invalid">Change Password</button>
      </form>
    </div>
      </div>
    </div>




  
  </div>
  