

<body>
<div class="heading">TOP EXTRACTED IOCIP'S</div>

<div class="card">
                  

          <div style="overflow-x: auto; ">

              <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" class="table-boundaries">
   

          <ng-container matColumnDef="IOCDOMAIN">
              <th mat-header-cell *matHeaderCellDef> IOCIPs </th>
              <td mat-cell *matCellDef="let element"> {{element.IOCIP}} </td>
          </ng-container>

          <ng-container matColumnDef="totalFiles">
              <th mat-header-cell *matHeaderCellDef> Total Files </th>
              <td mat-cell *matCellDef="let element"> {{ element.totalFiles }} </td>
            </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>


          <mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>

          </div>
          </div>

</div>  
<!-- 
<div>
    <h1>Domains</h1>
    <ul>
      <li *ngFor="let domain of domains">
        {{ domain }}
      </li>
    </ul>
  </div> -->
  
</body>

