
<body>


  <div class="right-section">
    <mat-form-field>
      <!-- <mat-label></mat-label> -->
      <mat-date-range-input [formGroup]="rangeForm" [rangePicker]="picker">

        <input matStartDate formControlName="start" placeholder={{this.firstDate}}>
        <input matEndDate formControlName="end" placeholder={{this.lastDate}}>

      </mat-date-range-input>
      
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker ></mat-date-range-picker>

    </mat-form-field>

    
     <button mat-icon-button color="primary" (click)="clearFilter()">
      <mat-icon>refresh</mat-icon>
    </button>
  
  </div> 

</body>
  <!-- <button mat-raised-button (click)="onRangeSelected()">Submit</button> -->
    <!-- <button class='button1'(click)="onDashboardReload()"><mat-icon>refresh</mat-icon></button> -->
  <div class="left-section">

    <!-- <form [formGroup]="rangeForm">
  
        <input type="text" placeholder=" DD/MM/YYYY " formControlName="start"
               (focus)="onInputFocus($event, 'start')" (blur)="onInputBlur($event, 'start')">
      
        <input type="text" placeholder=" DD/MM/YYYY" formControlName="end"
               (focus)="onInputFocus($event, 'end')">
      
      <button class="button1" (click)="onRangeSelected()">UPDATE</button>

      <button (click)="onDashboardReload()"><mat-icon>refresh</mat-icon>
      </button>
      
    </form> -->

  </div>