:host {
    display: flex;
    align-items: center;
    overflow-x: hidden; 
    overflow-y: hidden; 
}

.text{
   padding-bottom: 5px;
}

.sidebar-container {

    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden; 
    overflow-y: hidden; 
    background-color: #1a3344;
}

// .mat-icon active {
//     // margin-top: 12px;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     // display: inline-block;
// }


.mat-icon i {
    color:white;
    transition: color 0.3s ease;
}

.mat-icon2 i {
  
    color:white;
    transition: color 0.3s ease;
    padding-right: 7px;
}

.mat-icon2:hover i {
    // color: #1b9b37;
    color: rgb(175, 51, 51)
}

// .material-icons:hover {
//     color:rgb(72, 175, 51)

// }
.mat-icon:hover i {
    // color: #1b9b37;
    color:rgb(72, 175, 51)
}

.active {
    // background-color: #04AA6D;
    color: rgb(57, 194, 212);
  }

body{
    overflow: hidden;
    // padding-top: 4px;
    zoom: 0.97;
}
