<html>
<div class="wrapper">
  <div class="container">
    <div class="form-container">
      
      <span class="close-button" (click)="closeForm()">
        <i class="fas fa-times"></i>
      </span>
     
      <form [formGroup]="form" (ngSubmit)="submitForm()">
        <label>New Password</label>
        <div class="password-input">
          <input
            type="password"
            formControlName="password"
            class="input"
            [type]="showPassword ? 'text' : 'password'"
          />
          <span
            class="password-toggle"
            (click)="togglePasswordVisibility()"
            [class.active]="showPassword"
          >
            <i class="fa" [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"></i>
          </span>
        </div>
        <div *ngIf="form.get('password')?.hasError('pattern')">
          Password must contain at least one uppercase letter, one digit, and one special character (@, $, !, %, *, #, ?, &).
          Minimum length: 8 characters.
        </div>

        <label>New Password (Confirmation)</label>
        <div class="password-input">
          <input
            type="password"
            formControlName="confirmPassword"
            class="input"
            [type]="showPasswordConfirm ? 'text' : 'password'"
          />
          <span
            class="password-toggle"
            (click)="togglePasswordConfirmVisibility()"
            [class.active]="showPasswordConfirm"
          >
            <i class="fa" [ngClass]="showPasswordConfirm ? 'fa-eye' : 'fa-eye-slash'"></i>
          </span>
        </div>
        <div *ngIf="form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched">
          Passwords do not match.
        </div>

        <button type="submit" class="submit-btn" [disabled]="form.invalid">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
</html>
